<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Exoskeleton | Faster and leaner Backbone</title>
  <link rel="stylesheet" href="http://chaplinjs.org/stylesheets/normalize.css">
  <link rel="stylesheet" href="http://chaplinjs.org/stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/application.css">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <div class="wrapper">

<header class="nav-header" style="background-color: rgba(0, 0, 0, 0.8);">
  <div class="list-wrapper">
    <img class="logoa" width="340" src="/images/exos.png" alt="">
    <!--
    <ul class="page-nav">
      <li class="logo-text">
        <div class="logo"><img class="logoa" width="150" src="/images/exos.png" alt=""></div>
        <button class="toggle-navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </li>
      <li class="nav-toggle-content" style="margin-left: 80px;"><a href="http://chaplinjs.org" data-pattern="\/\/chaplinjs\.org/(#.*)?$">About</a></li>
      <li class="nav-toggle-content"><a href="http://docs.chaplinjs.org" data-pattern="docs\.chaplinjs">Documentation</a></li>
      <li class="nav-toggle-content"><a href="http://chaplinjs.org/examples.html" data-pattern="examples\.html$">Examples</a></li>
      <li class="nav-toggle-content"><a href="http://chaplinjs.org/support.html" data-pattern="support\.html$">Support</a></li>
      -->
    </ul>
  </div>
</header>

<section>{{ content }}</section>

  </div>

<!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '5268505bf5a1f5376b00007f');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
